<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="sqlConnectionString" value="Server={{ ip_address }};Database={{ database_name }};User ID={{ db_username }};Password={{ db_password }};"/>
  </appSettings>
</configuration>